Source: moxa-rfs-files
Section: admin
Priority: required
Maintainer: Ken CJ Chou <KenCJ.Chou@moxa.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: http://www.moxa.com/

Package: moxa-rfs-files
Architecture: all
Depends: ${misc:Depends}
Description: Prepare Moxa root filesystem required files
 It contains the necessary files for setting up Moxa pure root filesystem
